**Read some CSV files at the same time from a page**

In [1]:
import pandas as pd

In [2]:
# https://www.football-data.co.uk/mmz4281/2223/E0.csv

# https://www.football-data.co.uk/mmz4281/2223/E1.csv

# https://www.football-data.co.uk/mmz4281/2223/E2.csv

# https://www.football-data.co.uk/mmz4281/2223/E3.csv

# https://www.football-data.co.uk/mmz4281/2223/EC.csv

In [3]:
root = 'https://www.football-data.co.uk/mmz4281/'

In [6]:
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

for league in leagues:
  df = pd.read_csv(root + '2223' + '/' + league + '.csv') # after '.csv' if will show you an error, write:     , encoding='unicode_scape'
  frames.append(df)

In [7]:
# size of frames
len(frames)

5

In [11]:
# show specific frame
frames[4].head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,06/08/2022,15:00,Aldershot,Solihull,1,4,A,1,2,...,2.03,0.75,1.93,1.88,1.93,1.92,1.94,1.98,1.89,1.88
1,EC,06/08/2022,15:00,Altrincham,Maidstone,1,1,D,1,1,...,2.00,-0.25,1.93,1.88,1.94,1.91,1.96,1.92,1.91,1.87
2,EC,06/08/2022,15:00,Barnet,Halifax,2,0,H,1,0,...,2.07,0.25,1.85,1.95,1.86,1.99,1.88,2.00,1.84,1.92
3,EC,06/08/2022,15:00,Dag and Red,Gateshead,2,2,D,1,2,...,2.10,-0.50,1.88,1.93,1.93,1.93,1.93,2.02,1.85,1.92
4,EC,06/08/2022,15:00,Dorking,Chesterfield,2,2,D,0,2,...,2.25,0.25,1.95,1.85,1.95,1.89,2.01,1.89,1.92,1.85

**Multiple Seasons**

In [26]:
leagues = ['E0', 'E2', 'E3']
frames = []

for league in leagues:
  for season in range(15, 21):
    df = pd.read_csv(root + str(season) + str(season+1) + '/' + league + '.csv') # after '.csv' if will show you an error, write:     , encoding='unicode_scape'
    df.insert(1, 'season', season)
    frames.append(df)

In [27]:
len(frames)

18

In [30]:
frames[17].head()

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00