In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
dir_datasets = '/content/drive/MyDrive/DataScience/Data Science Course/0.Datasets/{}'
df_players = pd.read_csv(dir_datasets.format('players_20.csv'), sep=',')

In [4]:
df_players.set_index('short_name')

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [6]:
df_players = df_players[['long_name',	'age',	'dob', 'height_cm',	'weight_kg',	'nationality',	'club']]
df_players.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
0,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
1,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
2,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
3,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
4,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

# **SELECT BY VALUES**

In [8]:
# get the Messi height_cm
df_players.iloc[0, 3]

170

In [10]:
# get the Cristiano Ronaldo height_cm
df_players.iloc[1, 3]

187

In [11]:
# get all rows of height_cm
df_players.iloc[:, 3]

0        170
1        187
2        175
3        188
4        175
        ...
18273    186
18274    177
18275    186
18276    185
18277    182
Name: height_cm, Length: 18278, dtype: int64

In [9]:
# get all columns corresponding of Messi index

In [12]:
df_players.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: 0, dtype: object

# **SELECT BY LIST VALUES**

In [18]:
# get data about L. Messi and Cristiano Ronaldo
df_players.iloc[0:2, :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
0,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
1,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [20]:
# get the L. Messi's and Cristiano Ronaldo's height_cm
df_players.iloc[0:2, 3]

0    170
1    187
Name: height_cm, dtype: int64

In [22]:
# get the L. Messi's height_cm and weight_kg\
df_players.iloc[0, 3:5]

height_cm    170
weight_kg     72
Name: 0, dtype: object

In [24]:
# get the height_cm and weight_kg of L. Messi and Cristiano Ronaldo
df_players.iloc[0:2, 3:5]

   height_cm  weight_kg
0        170         72
1        187         83

# **SELECT A RANGE OF DATA WITH A SLICE**

In [25]:
columns = [1, 3, 5]

df_players.iloc[0, columns]

age                   32
height_cm            170
nationality    Argentina
Name: 0, dtype: object

# **SELECT WITH CONDITIONS**

In [27]:
columns = [0, 2, 5]

df_players.iloc[list(df_players['height_cm']>180), columns]

                                 long_name         dob          nationality
1      Cristiano Ronaldo dos Santos Aveiro  1985-02-05             Portugal
3                                Jan Oblak  1993-01-07             Slovenia
5                          Kevin De Bruyne  1991-06-28              Belgium
6                    Marc-André ter Stegen  1992-04-30              Germany
7                          Virgil van Dijk  1991-07-08          Netherlands
...                                    ...         ...                  ...
18272                          Paul Martin  1999-01-05  Republic of Ireland
18273                                   邵帅  1997-03-10             China PR
18275                                   张威  2000-05-16             China PR
18276                                  汪海健  2000-08-02             China PR
18277                                  潘喜明  1993-01-11             China PR

[9744 rows x 3 columns]

In [34]:
df_players.iloc[list((df_players['height_cm']>180) & (df_players['nationality']=='Argentina')), columns]

                         long_name         dob nationality
93     Mauro Emanuel Icardi Rivero  1993-02-19   Argentina
98         Gonzalo Gerardo Higuaín  1987-12-10   Argentina
210         Ezequiel Marcelo Garay  1986-10-10   Argentina
224        Nicolás Hernán Otamendi  1988-02-12   Argentina
342                 Gerónimo Rulli  1992-05-20   Argentina
...                            ...         ...         ...
17412                  Tomás Durso  1999-02-26   Argentina
17526                 Joaquín Hass  1998-03-27   Argentina
17657              Rafael Ferrario  2000-04-30   Argentina
17712          Leandro Finochietto  1997-04-25   Argentina
17922           Nicolás Forastiero  1998-07-16   Argentina

[350 rows x 3 columns]