In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
dir_datasets = '/content/drive/MyDrive/DataScience/Data Science Course/0.Datasets/{}'
df_movies = pd.read_csv(dir_datasets.format('IMDb movies.csv'), low_memory=False)
df_ratings = pd.read_csv(dir_datasets.format('IMDb ratings.csv'), low_memory=False)

In [4]:
df_movies = df_movies[['imdb_title_id', 'title', 'year', 'genre', 'country']]
df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

In [5]:
df_movies.head()

,imdb_title_id,title,year,genre,country
0,tt0000009,Miss Jerry,1894,Romance,USA
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia
2,tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark"
3,tt0002101,Cleopatra,1912,"Drama, History",USA
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Italy

In [6]:
df_ratings.head()

  imdb_title_id  total_votes  mean_vote
0     tt0000009          154        5.9
1     tt0000574          589        6.3
2     tt0001892          188        6.0
3     tt0002101          446        5.3
4     tt0002130         2237        6.9

# **CONCAT()**

HORIZONTAL CONCAT

In [8]:
df1 = pd.DataFrame({'id' : ['A','B','C','D'],
                    'age' : [30, 23, 25, 22]})

df2 = pd.DataFrame({'job' : ['Doctor','Statistician',
                             'Accountant','Developer']})

In [21]:
df_horizontal_concat_example = pd.concat([df1,df2], axis=1, sort=True)

In [23]:
df_horizontal_concat_example

  id  age           job
0  A   30        Doctor
1  B   23  Statistician
2  C   25    Accountant
3  D   22     Developer

# **EXERCISE #1**

In [17]:
# shape
print(df_movies.shape)
print(df_ratings.shape)

(85855, 5)
(85855, 3)

In [19]:
df_movies.set_index('imdb_title_id', inplace=True)
df_ratings.set_index('imdb_title_id', inplace=True)

In [25]:
# concat horizontally df_movies and df_ratings using imdb_title_id column
df_horizontal_concat = pd.concat([df_movies, df_ratings], axis=1)

In [26]:
# shape
df_horizontal_concat.shape

(85855, 6)

In [27]:
df_horizontal_concat.head()

,title,year,genre,country,total_votes,mean_vote
imdb_title_id,,,,,,
tt0000009,Miss Jerry,1894,Romance,USA,154,5.9
tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia,589,6.3
tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark",188,6.0
tt0002101,Cleopatra,1912,"Drama, History",USA,446,5.3
tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Italy,2237,6.9